.post-container{
  width: 550px;
  height: 170px;
  display: flex;
  justify-content: space-evenly;
}

img{
  height: 150px;
  width: 100px;
  border-radius: 10px;
}

.pagination-container{
  width: 550px;
  display: flex;
  justify-content: space-evenly;
}

.page-btn{
  background-color: black;
  color: white;
  padding: 1rem;
}

.page-btn:hover {
  background-color: #f3f3f3;
}

.page-btn.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-color: #007bff;
}